<% title 'Welcome to SecureSign HQ site!', false %>

<h4>Welcome to SecureSign HQ</h4>
<p>Easy way to create and manage RSA keys and x.509 certificates</p>

<h6>How start work</h6>
<p><%= link_to 'Sign up', signup_path %> or <%= link_to 'login', login_path %> to start work with this service. It's very easy and takes about two minutes.</p>

<h6>What is next?</h6>
<p>Next, <%= link_to 'generate', new_key_path %> your first key and <%= link_to 'create', new_certificate_path %> new selfsigned certificate or certificate request.</p>

<p>It's all. Now you can write pages, attach files to them and sign your content with your digital signature: combination of key and certificate. Good luck.</p>
